{%- comment -%}
  Show "Customized" if the line item has the hidden property "_pixobeid".
  (If your real key is different, update the key in the check below.)
{%- endcomment -%}
{%- assign locale = localization.language.iso_code -%}
{%- if property.first == '_pixobeid' and property.last != blank -%}
  {%- assign pixobeid_value = property.last -%}
  {%- if pixobeid_value != '' -%}
    <div class="text-xs text-opacity leading-tight">
      <dt class="inline"></dt>
      <dd>
        <p-spedit-customization
          style="visibility: visible; display: block;"
          product-id="{{ item.product_id }}"
          variant-id="{{ item.variant_id }}"
          pixobe-id="{{ pixobeid_value }}"
          label="{{ 'view_personalization' | t }}"
          cart-item-id="{{item.id}}"
          cart-item-key="{{item.key}}"
          locale="{{locale}}"
        >
        </p-spedit-customization>
      </dd>
    </div>
  {%- endif -%}
{%- endif -%}
{%- comment -%}
  customization code ends
{%- endcomment -%}
