<div>
  {% assign config = app.metafields.app_config.metadata_app.value %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  {%- assign locale = localization.language.iso_code -%}

  {% if product.id %}
    <p-spcustomize-button
      product-id="{{ product.id}}"
      variant-id="{{ current_variant.id }}"
      label="{{'button.customize' | t}}"
      locale="{{locale}}"
      style="
        --p-btn-background: {{ button_background_color }};
        --p-btn-text: {{ button_text_color }};
        --p-btn-hover-background: {{ button_hover_color }};
        --p-btn-hover-text: {{ button_text_hover_color }};
        --p-btn-radius: {{ button_border_radius }}px;
        --p-btn-border: {{ button_border_width }}px solid {{ button_border_color }};
        --p-btn-width: {% if button_full_width %}100%{% else %}auto{% endif %};
      "
    >
      ></p-spcustomize-button
    >
  {% endif %}
</div>

<script>
  window.pixobeProductConfig= {{config |json}};
</script>
