{%- assign locale = localization.language.iso_code -%}

{%- assign button_label = block.settings.button_label %}

{% assign current_variant = product.selected_or_first_available_variant %}
{% capture translated_button_label %}{{ button_label | t }}{% endcapture %}

{% if translated_button_label contains 'Translation missing' or translated_button_label == blank %}
  {%- assign translated_button_label = button_label -%}
{% endif %}

{%- assign variants = product.variants -%}
{%- for v in variants -%}
  {%- assign media_items = v.metafields['$app'].pixobe_media_items.value -%}
  {%- assign is_configured = false -%}
  {%- if media_items != blank and media_items.size > 0 -%}
    {%- assign is_configured = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
{% assign config_url = 'https://admin.shopify.com/store/'
  | append: shop.permanent_domain
  | remove: '.myshopify.com'
  | append: '/apps/pixobe-product-designer/app/customize?id=gid%3A%2F%2Fshopify%2FProduct%2F'
  | append: product.id
%}

<style>
  .pixobe-customize {
    --p-btn-background: {{ block.settings.button_background_color | default: '#111' }};
    --p-btn-text: {{ block.settings.button_text_color | default: '#fff' }};
    --p-btn-hover-background: {{ block.settings.button_hover_color | default: '#000' }};
    --p-btn-hover-text: {{ block.settings.button_text_hover_color | default: '#fff' }};
    --p-btn-radius: {{ block.settings.button_border_radius | default: 0 }}px;
    --p-btn-border: {{ block.settings.button_border_width | default: 1 }}px solid {{ block.settings.button_border_color | default: 'rgba(0,0,0,0.15)' }};
    --p-btn-width: {% if block.settings.button_full_width %}100%{% else %}auto{% endif %};
    --p-btn-margin: {{ block.settings.button_margin | default: 16 }}px 0;
    --p-btn-padding:{{ block.settings.button_padding | default: 16 }}px;
    --p-btn-max-width:{{ block.settings.button_max_width | default: 100 }}rem;
  }
</style>

{% if request.design_mode or is_configured %}
  <div class="pixobe-customize-{{ block.id }}">
    {% if is_embed %}
      <p-shopify-embedblock
        product-id="{{ product.id }}"
        variant-id="{{ current_variant.id }}"
        label="{{ translated_button_label | escape }}"
        locale="{{ locale }}"
        is-configured="{{is_configured}}"
        configuration-url="{{config_url}}"
      >
      </p-shopify-embedblock>
    {% else %}
      <p-shopify-customizebtn
        product-id="{{ product.id }}"
        variant-id="{{ current_variant.id }}"
        label="{{ translated_button_label | escape }}"
        locale="{{ locale }}"
        is-configured="{{is_configured}}"
        configuration-url="{{config_url}}"
      >
      </p-shopify-customizebtn>
    {% endif %}
  </div>
{% endif %}
